# projects 项目配置，运行项目时可执行指定的测试用例（单个用例、某个项目所有用例、所有项目所有用例）、env。
# is_scene 标记是否为场景project，场景project下包含多个子project
# is_need_login 是否需要登录，为True则需要配置login信息
# test、pre、online 测试环境
# notifications 消息通知配置，如钉钉机器人等

title: xx平台接口测试

projects:
  merchant: # 项目 merchant
    test: # 测试环境
      host: http://192.168.5.120:8081 # 必填
      mysql:  # 数据库配置
        host: xxxxxxxxxx
        user: xxxxxx
        password: xxxxxx
        database: xxx
        port: 3306
      is_need_login: True # 是否需要登录，必填。为 True 时表示该 项目-环境 需要登录，需要配置下方的 login 字段；为 False 时，表示不需要登录。
      login:  # 登录接口信息
        url: "http://192.168.5.120:8081/login"
        method: "POST"
        headers:
          Content-Type: "application/json"
        data:
          account: "13500000000"
          password: "xxxxxx"
          authorizationClientType: 0
          loginType: 3
          loginVersion: 2
    pre:
      host: https://pre-xxxxxx.com
      mysql:
        host: xxxxxxxxxx
        user: xxx
        password: xxxxxx
        database: xxx
        port: 3306
      is_need_login: True
      login:
        url: "https://pre-xxxxxx.com/login"
        method: "POST"
        headers:
          Content-Type: "application/json"
        data:
          account: "13500000000"
          password: "xxxxxx"
          loginType: 3
          authorizationClientType: 0
          loginVersion: 2
    online:
      host: https://xxxxxx.com
      mysql:
        host: xxxxxxxxxx
        user: xxx
        password: xxxxxx
        database: xxx
        port: 3306
      is_need_login: True
      login:
        url: "https://xxxxxx.com/login/login"
        method: "POST"
        headers:
          Content-Type: "application/json"
        data:
          account: "13500000000"
          password: "xxxxxx"
          loginType: 3
          authorizationClientType: 0
          loginVersion: 2

  user: # 项目user
    test:
      host: 192.168.5.120:8082
      mysql:
        host: xxxxxxxxxx
        user: xxx
        password: xxxxxx
        database: xxx
        port: 3306
    pre:
      host: https://pre-xxxxxx.com
      mysql:
        host: xxxxxxxxxx
        user: xxx
        password: xxxxxx
        database: xxx
        port: 3306
      is_need_login: True
      login:
        url: "https://pre-xxxxxx.com/login"
        method: "POST"
        headers:
          Content-Type: "application/json"
        data:
          account: "13500000000"
          password: "xxxxxx"
          loginType: 3
          authorizationClientType: 2
          loginVersion: 2
    online:
      host: https://xxxxxx.com
      mysql:
        host: xxxxxxxxxx
        user: xxx
        password: xxxxxx
        database: xxx
        port: 3306
      is_need_login: True
      login:
        url: "https://pre-xxxxxx.com/login"
        method: "POST"
        headers:
          Content-Type: "application/json"
        data:
          account: "13500000000"
          password: "xxxxxx"
          loginType: 3
          authorizationClientType: 2
          loginVersion: 2

  project_demo_03:
    test:
      host: 192.168.3.30:8081
      is_need_login: False
    online:
      host: https://xxxxxx.com
      is_need_login: False

  # 在某些场景测试项目中，某些测试用例可能会涉及到请求不同被测项目的接口，如 scenario_project_demo_01 项目中的某些测试用例，既会请求 user 项目中的接口，又会请求 merchant 项目中的接口\
  # 用is_scene字段为True 来标记，sub_projects 来说明该场景项目包含的子项目，后续执行该项目 scenario_project_demo_01 时，会自动从上面的 user、merchant 项目中去获取配置信息。
  scenario_project_demo_01:
    is_scene: True
    sub_projects:
      - user
      - merchant

notifications:
  dingtalk: # 钉钉机器人发送消息已调通
    webhook: "https://oapi.dingtalk.com/robot/send?access_token=your_dingtalk_assess_token"
    secret: "your_secret"
  weixin: # 企业微信、飞书发送信息功能未编写
    webhook: "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=your_key"
  feishu:
     webhook: "https://open.feishu.cn/open-apis/bot/v2/hook/your_hook"